TL;DR A good proposal will mark the end of all exploration work you'll be doing for the project, leaving only further experimentation and tweaking to finalize your project.

The final project report is due on the last day of class. To ensure sufficient progress, a progress report is due on April 2nd. This progress report should demonstrate concrete outcomes that align with your original proposal. By this point, you are expected to have completed all exploratory work (e.g., reading, testbed configuration, and most coding). The report should clearly highlight the remaining steps required to validate or invalidate your hypothesis.

Remember that negative results are expected (i.e., your hypothesis need not be valid).

The progress report should follow this outline:

Section 1. Introduction

High-level context (e.g.,  FaaS, DC networks, etc) – 1 paragraph  

Specific problem definition – 1 paragraph

Existing work and limitations – 1 paragraph

Hypothesis – 1 paragraph

Approach – 1-2 paragraphs

Section 2. Background and Motivation

Comprehensive coverage of related work (1 section)

Comprehensive description of the hypothesis (1 section)

Key results (1 section)

Section 3. Approach

Provide comprehensive description of the system you are experimenting with, focusing on components relevant to your hypothesis + description of any new components or tweaks you made. (details are project specific)

Any implementation details (1 section)

Section 4. Evaluation 

Setup: workload, testbed, parameter configuration

Results (as many sections as needed to make it easy to follow)

Section 5. Progress Report

What has been done out of what was proposed

What remains of what was proposed

What changed from what was proposed (if any)

Challenges/roadblocks (if any)